<header class="profile-header">
	<div class="wrapper">
		<div class="profile-header__left">
			<div class="profile-header__img">
				<img class="js-profile-photo" src="http://fillmurray.com/600/600" alt="profile image">
			</div>
		</div>
		<div class="profile-header__right">
			<div class="profile-header__name js-profile-name">Fill_Murray</div>
			<div class="profile-header__info">
				<ul class="info-list">
					<li class="info-list__item">
						<span class="info-list__num js-profile-posts">100</span>
						posts
					</li>
					<li class="info-list__item">
						<span class="info-list__num">356</span>
						followers
					</li>
					<li class="info-list__item">
						<span class="info-list__num">1</span>
						following
					</li>
				</ul>
			</div>
			<p class="profile-header__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, laudantium.</p>
		</div>
	</div>
</header>
<div class="grid wrapper"></div>
<div class="overlay"></div> 
<div class="popup"></div>
